%br
%ul.head
  %li
    %table.in-table
      %tr
        %td.h-in Inbox
        %td.link
          %a.cp{:href => "compose.html"} +Compose Message
%br
.compose=render "compose"
.resulted_mails= render "mails"





