.header
  .header-a
    .wrapper
      .bg-logo.flt-left
        %img{:src => "/assets/logo.png"}
      %h5.flt-right.label-2
        (EN)
        %label.bold English
        %a.dd-a{:href => "#"}
      %ul.ul-a.flt-right
        - if !current_user.blank?
          %li
            %a.label-2{:href => "#{log_out_path}"} Log out
        - else
          %li
            %a.label-2.signup{:href => "#"} Sign up
          %li
            %label.label-2.bold{:style => "position: relative;top: -2px;font-size: 18px;color:#afafaf;"} |
          %li
            %a.label-2.signin{:href => "#"} Login
  .header-b
    .wrapper
      %ul.ul-b.flt-left
        %li.ulb-selected
          %a{:href => "#"} ABOUT
        %li
          %a{:href => "#"} Directory
        %li
          %a{:href => "#"} wiki
        %li
          %a{:href => "#"} admin