.footer
  .wrapper
    .f-left.flt-left
      %h5.label-15 Copyright © 2012 VMware, Inc. All rights reserved
      %ul.ul-d
        %li{:style => "margin-left: 0px;"}
          %a{:href => "#"} FAQ
        %li
          |
        %li
          %a{:href => "#"} Forums
        %li
          |
        %li
          %a{:href => "#"} Blog
        %li
          |
        %li
          %a{:href => "#"} Jobs
        %li
          |
        %li
          %a{:href => "#"} Legal
        %li
          |
        %li
          %a{:href => "#"} Terms
        %li
          |
        %li
          %a{:href => "#"} Privacy
    .f-right.flt-right.span-3.social-icons
      %a.twitter.replaced{:href => "http://twitter.com/#!cloudfoundry", :rel => "external", :target => "_blank"}
      %a.facebook.replaced{:href => "http://facebook.com/cloudfoundry", :rel => "external", :target => "_blank"}
      %a.youtube.replaced{:href => "http://www.youtube.com/cloudfoundry", :rel => "external", :target => "_blank"}