.footer
  .wrapper
    .f-left.flt-left
      %h5.label-15
        = t('footer.copyright')
        / %a{:href => "http://creativecommons.org/licenses/by/2.5/",:style => "color: #0097D7;"}= t('footer.creative')
        / %br
        / = t('footer.details')
        / %a{:href => "http://www.cloudfoundry.com/legal",:style => "color: #0097D7;"}= t('footer.license')