.content.wrapper
  .content-f
    .cf-left.flt-left
      %h1.label-52{:style => "margin-bottom: 10px;"} What is CFDG ?
      %p.label-53
        Cloud Foundry is an open platform as a service, providing a choice of clouds, developer frameworks and application services. Cloud Foundry makes it faster and easier to build, test, deploy and scale applications.
      %p.label-53
        CFDG or the Cloud Foundry Developer Group is a user group for developers using or enthusiastic about the Cloud Foundry Platform. Users can use CFDG to connect with other members, get together in groups of any size, organize and attend events and share content online.
      %img.flt-right{:src => "/assets/group-of-people.png", :style => "margin:10px;"}
        %h5.label-36{:style => "margin-bottom: 10px;"} CFDG is where you interact with other enthusiasts....
        %p.label-16{:style => "line-height: 20px;margin-bottom: 40px;"}
          What we want is to strengthen community networking among our users. It is a lot more fun to learn when you are part of a group. The knowledge pool is bigger and there is a healthy competitive spirit that is evoked. CFDG hopes to be an enjoyable way to faster productivity among its developers and help extend their networks.
        %img.flt-left{:src => "/assets/profile-image.png", :style => "margin:0px 10px 10px 0px;"}
          %h5.label-36{:style => "margin-bottom: 10px;"} You can create a CFDG in your city....
          %p.label-16{:style => "line-height: 20px;margin-bottom: 40px;"}
            If there isn't a Cloud Foundry Developer Group in your city, you could
            %a.blue{:href => "#"} start one
            yourself ! All you have to do is            
            
            - class_val = ''
            - href = "#"
            -if @current_user.blank?
              -class_val = ' signin'
            -elsif !ChapterMember.is_primary_coordinator?(current_user.id)
              -href = "#{new_chapter_path}"

            %a.blue{:href => "#", :class => class_val} Sign Up
            create a proposal, fill in a
            %a.blue{:href => "#{href}" ,:class => class_val} Create Chapter
            form and the site admin will get back to you.

    .cf-right.flt-right
      %img{:src => "/assets/banner.png", :style => "margin:40px 0px 0px 0px;"}
        %div{:style => "border:1px solid #ccc;height:200px;margin:0px 0px 10px 0px;"}
          = gmaps4rails(@markers)
          - content_for :javascript do        
            :javascript
                function redirect_to(url) {
                  return function(){window.location = url;}
                };

                Gmaps.map.callback = function() {
                  if (Gmaps.map.markers.length == 0 ){
                    setTimeout(function() { Gmaps.map.serviceObject.setZoom(1);}, 50);
                  }
                  else{
                    setTimeout(function() { Gmaps.map.serviceObject.setZoom(4);}, 50);
                  }
      
                  for (var i = 0; i <  Gmaps.map.markers.length; i++) {              
                     google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'click',   redirect_to(Gmaps.map.markers[i].link));
                  }                
                };
        %h1.label-36{:style => "margin-bottom: 10px;"} You can plan events and meetups with other members in your own city....
        %p.label-16{:style => "line-height: 20px;margin-bottom: 10px;"}
          Organized meet-ups are a way for you to meet the members in your group/
          %a.blue{:href => "#"} Chapter
          face-to-face.  Members can make presentations, invite a speaker or have group discussions. Meet ups are all about connecting people and promoting healthy discussion.
        %p.label-16{:style => "line-height: 20px;margin-bottom: 40px;"}
          Visit the
          %a.blue{:href => "#{directory_path}"} directory
          to see if there's a local meetup in your area. Feel free to contact the organizers to find out more. If there's no chapter near you, consider starting one!
    .cf-bottom
      .cfb-div
        %h2.label-54{:style => "margin-bottom:10px; border-bottom: 2px dotted #fff;display: inline-block;"}
          Our Community Guidelines
        %p.label-55{:style => "margin-bottom:5px;"}
          Collaborate:
          %span.label-56 Collaborate with other enthusiasts
        %p.label-55{:style => "margin-bottom: 5px;"}
          Be Active:
          %span.label-56
            You have a user group in your city. Stay active on it, participate and contrib
            ute regularly. The more you meet-up, the more you learn and have fun.
        %p.label-55{:style => "margin-bottom: 5px;"}
          Respect one another:
          %span.label-56 Nobody likes to be ridiculed or disrespected. Ensure that your discussions do not hurt anybodys sentiments. It is the responsibility of every member to avoid and stop and kind of negativity from flying out of control.