:css
  .gmaps4rails_map {
      height: 336px;
      width: 945px;
  }
  .map {
    border:none;
  }
  .map_container {
      width: 996px;
  }
.content.wrapper
  .content-c
    %h2.label-17{:style => "margin:0px 0px 0px 0px;"} Cloud Foundry Groups
    .map
      = gmaps4rails(@markers)
      - content_for :javascript do        
        :javascript
            function redirect_to(url) {
              return function(){window.location = url;}
            };

            Gmaps.map.callback = function() {
              if (Gmaps.map.markers.length == 0 ){
                setTimeout(function() { Gmaps.map.serviceObject.setZoom(1);}, 50);
              }
              for (var i = 0; i <  Gmaps.map.markers.length; i++) {
                 google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'click',   redirect_to(Gmaps.map.markers[i].link));
              }                
            };
     
    / %input.input-a{:placeholder => "Find a group...", :style => "margin-left: 0px;"}
    /   %a.label-36{:href => "#"} + Create Group
    .div-g
      - Chapter.total_records.each_with_index do |chapter,i|
        .column-a
          %h3.label-37
            = Carmen::Country.coded(chapter.country_name).try(:name) || "No Name"
          %ul.ui-j
            - main_chapters(chapter.country_name).each do |chp|
              %li
                %a.label-28{:href => "#{chapter_path(chp)}"}= chp.name

        