:css
  .gmaps4rails_map {
      height: 336px;
      width: 996px;
  }
  .map_container {
      width: 996px;
  }
.content.wrapper
  .content-c
    %h2.label-17{:style => "margin:25px 0px 0px 0px;"} Cloud Foundry Groups
    .map= gmaps4rails(@markers)
    %input.input-a{:placeholder => "Find a group..."}
      %a.label-36{:href => "#"} + Create Group
      .div-g
        .column-a
          %h3.label-37
            Country Name
          %ul.ui-j
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
          %h3.label-37
            Country Name
          %ul.ui-j
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
          %h3.label-37
            Country Name
          %ul.ui-j
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
        .column-a
          %h3.label-37
            Country Name
          %ul.ui-j
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
          %h3.label-37
            Country Name
          %ul.ui-j
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
          %h3.label-37
            Country Name
          %ul.ui-j
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
        .column-a
          %h3.label-37
            Country Name
          %ul.ui-j
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
          %h3.label-37
            Country Name
          %ul.ui-j
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
          %h3.label-37
            Country Name
          %ul.ui-j
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
        .column-a
          %h3.label-37
            Country Name
          %ul.ui-j
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
          %h3.label-37
            Country Name
          %ul.ui-j
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
          %h3.label-37
            Country Name
          %ul.ui-j
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha
            %li
              %a.label-28{:href => "#"} Alpha