.content.wrapper
  .content-a
    .ca-top
      .ca-left.flt-left
        = gmaps("markers" => { "data" => @markers })
        %ul{:id => "markers_list"}
      .ca-right.flt-right
        %h2.label-3
          CFUs are user groups for

          people who are interested in
          %label.label-4 Cloud Foundry PLATFORM.
        %h5.label-5
          Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Donec elementum. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Donec elementum.
        %button.btn-a.signup
          SIGN UP!
    .ca-bottom
      .ca-down
        %h2.label-6 Create a Chapter!
        %h5.label-7 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum. Lorem ipsum dolor sit amet,consectetur adipiscing elit. Donec elementum adipiscing elit. Donec elementum.
        %button.btn-b
          CREATE
  .content-b
    .cb-left.flt-left
      %h2.label-8 Announcements
      %div
        %img.img-a.flt-left{:src => "assets/img-a.png"}
          %h3.label-9 Title of articles
          %h5.label-10 October 2, 2012
          %h5.label-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .cb-right.flt-right
      %h2.label-8 Earlier Announcements...
      %ul.ul-c
        %li
          %div
            %h3.label-12
              %img.img-c{:src => "assets/img-b.png"}
                Title of articles-
                %label.label-13 October 2, 2012
            %h5.label-16 Lorem ipsum dolor sit amet, consectetur adipisicin t amet, consectetur adi.
        %li
          %div
            %h3.label-12
              %img.img-c{:src => "assets/img-b.png"}
                Title of articles-
                %label.label-13 October 2, 2012
            %h5.label-16 Lorem ipsum dolor sit amet, consectetur adipisicin. t amet, consectetur adi
        %li
          %div
            %h3.label-12
              %img.img-c{:src => "assets/img-b.png"}
                Title of articles-
                %label.label-13 October 2, 2012
            %h5.label-16 Lorem ipsum dolor sit amet, consectetur adipisicin. t amet, consectetur adi
