.content.wrapper
  .content-f
    .cf-left.flt-left
      %h1.label-52{:style => "margin-bottom: 10px;"} Wiki Home
      %p.label-39{:style => "margin-bottom: 20px;"}
        A place for CDFG organizers to share their inputs and tips
      %a.label-27{:href => "#", :style => "margin-bottom: 10px;"} Recruiting
      %br/
      %a.label-27{:href => "#"} Membership
      .wiki-1
        %p.label-39{:style => "line-height: 18px;"}
          You now have a group and some members.Make the chapter a fun and happening place while maintaining a good relationship with existing members. You are now looking to make the  chapter grow,so it's equality important to retain you existing members.
      %a.label-27{:href => "#"} Meeting Content
      %ul.info-ul
        %li
          %a{:href => "#"} Breaking the ice
        %li
          %a{:href => "#"} Planning an event
        %li
          %a{:href => "#"} Topics for Discussions
        %li
          %a{:href => "#"} Reporting events to the worldwide CF Developer Community
      %a.label-27{:href => "#"} Graphics
      %ul.info-ul
        %li
          %a{:href => "#"} Icon
        %li
          %a{:href => "#"} Flyer/Wallpaper
        %li
          %a{:href => "#"} Badge Templates
      %a.label-27{:href => "#"} How to hand off a CFDG
      %br/
      %a.label-27{:href => "#"} FAQs
      %ul.info-ul
        %li
          %a{:href => "#"} Do I join or start a chapter?
        %li
          %a{:href => "#"} How can I reach the CFDG admin for support?
        %li
          %a{:href => "#"} How long before my request gets approved?
        %li
          %a{:href => "#"} My chapter request has been approved,what next?
      %p.label-39{:style => "line-height: 20px;margin-bottom: 40px;margin-top: 30px;"}
        For any queries and feedback get intouch at 
        %a.label-12{ :href=>"#"} admin@cfdg.com
    .cf-right.flt-right
      %div{:style => "margin-top: 45px;"}
        %span.label-g Latest happening at CFDG
        %div{:style => "border:1px solid #ccc;height:200px;margin:7px 0px 7px 0px;"}
        %div
          %h1.label-36 Title of Article
          %h1.label-40{:style => "margin-bottom: 5px;"} Time Stamp
          %div
            %p.label-40{:style => "line-height: 15px;"}
              You now have a group and some members. Make the chapter a fun and happening place while maintaining a good relationship with existing members .You are now looking to make the chapter grow ,so it's equally important to retain you existing members.