.cc-right
      %h2.label-29 Upcoming Event
      .div-e
        %h5.label-41 Something is happening in the group here...
        %table.table-a
          %tr
            %td
              %h5.label-19 Venue:
            %td
              %h5.label-20 Singh Bhavan, Vasant Road,Defence Colony, Delhi
          %tr
            %td
              %h5.label-19.flt-left Date:
            %td
              %h5.label-20 Saturday, Sept 30, 2012
          %tr
            %td
              %h5.label-19.flt-left Time:
            %td
              %h5.label-20 7pm
        .blue-bar-a
          %h1.label-23 30
          %h4.label-24 Sep
      %h2.label-29 Announcements
      %ul.ul-c
        %li
          %a.label-32{:href => "#"} Title of articles
          %a.label-33 Subramaniam Nath
          %label.label-33 , Posted on 20th September
          %h5.label-16 Lorem ipsum dolor sit amet, consectetur adipisicin t amet, consectetur adi.
        %li
          %a.label-32{:href => "#"} Title of articles
          %a.label-33 Subramaniam Nath
          %label.label-33 , Posted on 20th September
          %h5.label-16 Lorem ipsum dolor sit amet, consectetur adipisicin t amet, consectetur adi.
        %li
          %a.label-32{:href => "#"} Title of articles
          %a.label-33 Subramaniam Nath
          %label.label-33 , Posted on 20th September
          %h5.label-16 Lorem ipsum dolor sit amet, consectetur adipisicin t amet, consectetur adi.
      %h2.label-29 Live Comment Stream
      %ul.ul-h
        %li
          %img.img-c.flt-left{:src => "/assets/img-d.png"}
            %a.label-27{:href => "#"} Rohit -
            %label.label-25 Delhi, 23 Sep
            %p.label-16
              Does JXTA supports voice chat?: I'm developing a LAN mes
        %li
          %img.img-c.flt-left{:src => "/assets/img-d.png"}
            %a.label-27{:href => "#"} Rohit -
            %label.label-25 Delhi, 23 Sep
            %p.label-16
              Does JXTA supports voice chat?: I'm developing a LAN mes
        %li
          %img.img-c.flt-left{:src => "/assets/img-d.png"}
            %a.label-27{:href => "#"} Rohit -
            %label.label-25 Delhi, 23 Sep
            %p.label-16
              Does JXTA supports voice chat?: I'm developing a LAN mes
        %li
          %img.img-c.flt-left{:src => "/assets/img-d.png"}
            %a.label-27{:href => "#"} Rohit -
            %label.label-25 Delhi, 23 Sep
            %p.label-16
              Does JXTA supports voice chat?: I'm developing a LAN mes
        %li
          %img.img-c.flt-left{:src => "/assets/img-d.png"}
            %a.label-27{:href => "#"} Rohit -
            %label.label-25 Delhi, 23 Sep
            %p.label-16
              Does JXTA supports voice chat?: I'm developing a LAN mes
        %li.ulh-last-li
          %img.img-c.flt-left{:src => "/assets/img-d.png"}
            %h5.label-27
              Rohit -
              %label.label-25 Delhi, 23 Sep
            %p.label-16
              Does JXTA supports voice chat?: I'm developing a LAN mes