%h2.label-44 Group Calander
.event-form
  .event-left
    .el-cont{:style => "margin-bottom: 10px;"}
      %h2.label-45.flt-left Create Event
      .dd-chapter-ad
        %h5.label-11
          New Event
          %img.arrow-down-chap-ad-img.flt-right{:src => "/assets/arrow-down-d.png"}/
    .el-cont
      %label.flt-left.label-26 Starts On
      %input.input-b.size-b.size-of-inputs.flt-right{:placeholder => "00:00 pm", :style => "margin:0px 10px 0px 10px;"}
        %input.input-b.size-b.size-of-inputs.flt-right{:placeholder => "dd/mm/yyyy"}
  .event-right
    .el-cont{:style => "margin-top:45px;"}
      %label.flt-left.label-26 Ends On
      %input.input-b.size-b.size-of-inputs.flt-right{:placeholder => "00:00 pm", :style => "margin:0px 10px 0px 10px;"}
        %input.input-b.size-b.size-of-inputs.flt-right{:placeholder => "dd/mm/yyyy"}
  .event-bottom
.event-form
  .event-left
    .el-cont{:style => "text-align: center;margin-top:10px;"}
      %div{:style => " width: 250px;height:160px;background: #ccc;margin: 0 auto;"}
      %label.label-14 Upload Image
    .el-cont
    .el-cont{:style => "margin-top: 12px;"}
      %label.flt-left.label-26 Entry Fee
      %input.input-b.size-d{:placeholder => "Rs. 0", :style => "margin-left:10px"}
  .event-right
    .el-cont
    .el-cont
      %h5.label-26.flt-left Location
      .dd-chapter-ad
        %h5.label-11
          New Event
          %img.arrow-down-chap-ad-img.flt-right{:src => "/assets/arrow-down-d.png"}/
    .el-cont
      %input.input-b.size-text-event-create{:placeholder => "Venue Name"}
    .el-cont
      %input.input-b.size-text-event-create{:placeholder => "Address Line 1"}
    .el-cont
      %input.input-b.size-text-event-create{:placeholder => "Address Line 2"}
    .el-cont
      %input.input-b.size-text-event-create{:placeholder => "Type to select a city"}
    .el-cont
      %input.input-b.size-text-event-create{:placeholder => "Postal code"}
.event-form{:style => "padding-top:10px; padding-bottom: 20px;"}
  .el-cont
    %input.input-b.size-f{:placeholder => "Event Title"}
  .el-cont
    %textarea.input-b.size-f{:placeholder => "Event description", :style => "height: 40px;margin:5px 0px;"}
  %div{:style => "width:628px; overflow: hidden;"}
    %button.btn-a-small.flt-right CREATE
    %button.btn-a-small.flt-right{:style => "margin-right:10px;"} DISCARD













/ = semantic_form_for @event do |f|
/   - if @event.errors.any?
/     #error_explanation
/       %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
/       %ul
/         - @event.errors.full_messages.each do |msg|
/           %li= msg
/   = f.input :title , :placeholder => 'Event Name' , :label =>false          
/   = f.input :event_start_date , :placeholder => 'Event Start Date' , :label =>false  
/   = f.input :event_end_date , :placeholder => 'Event End Date' , :label =>false  
/   = f.radio_button :status , 'live', :checked =>true 
/   = f.label :live ,"Live"
/   = f.radio_button :status , 'draft', :checked => false 
/   = f.label :draft ,"Draft"
/   = f.input :description , :placeholder => 'Description' , :label =>false  
/   = f.input :venue , :placeholder => 'Venue' , :label =>false  
/   = f.input :entry_fee , :placeholder => 'Entry Fee' , :label =>false  
/   = f.hidden_field :chapter_id
/   .actions
/     = f.submit 'Save'