-if @event.errors.blank?
  $("#event_content").html("#{escape_javascript render(:partial => 'chapters/chapter_admin_home_page')}");  
-else    
  $("#event_content li.inline-errors").html("&nbsp;");
  - @event.errors.messages.each do |attribute, errors|
    - msg= ''
    -errors.each do |e|
      -msg= msg+ e  
    $(".event_#{attribute}").html("#{msg.to_s}");
    
  