%ul.ul-g
  %li
    %span.label-44.flt-left Past Announcement
  %li
    %table.table-b
      %tr
        %td.tb-1-4
          %img.img-c.flt-left{:src => "/assets/img-g.png"}
        %td.tb-2-4
          %a.label-36.bold{:href => "#"} Title of Announcement
          %p.label-26{:style => "padding-top:5px"}
            Lorem ipsum Lorem ipsum dolor sit amet
            , consectetur adipisicing elit, sed do eiusmod dolor s
            it amet, consectetur adipisicing elit, sed do eiusmod te
            mpor incididunt ut labore et donsequat.
        %td.tb-3-4
          %h5.label-20.flt-right.date-cross September 12, 2012
        %td.tb-4-4
          %a.bg-cross-b.date-cross{:href => "#"}
.pgt-bar
  %label.label-28 Page
  %a.pgtbar-selected{:href => "#"} 1
  %a{:href => "#"} 2
  %a{:href => "#"} 3
  %a{:href => "#"} 4
  %a{:href => "#"} 5
  %a{:href => "#"} 6
  %a{:href => "#"} 7
  %a{:href => "#"} 8
  %a.flt-right{:href => "#", :style => "margin-left:30px;"} NEXT >
  %a.flt-right{:href => "#"} < PREVIOUS