%ul.ul-g
  %li
    %span.label-44.flt-left Past Announcement
  %li.res
    = render 'results'
.pgt-bar
  %label.label-28 Page
  %a.pgtbar-selected{:href => "#"} 1
  %a{:href => "#"} 2
  %a{:href => "#"} 3
  %a{:href => "#"} 4
  %a{:href => "#"} 5
  %a{:href => "#"} 6
  %a{:href => "#"} 7
  %a{:href => "#"} 8
  %a.flt-right{:href => "#", :style => "margin-left:30px;"} NEXT >
  %a.flt-right{:href => "#"} < PREVIOUS