%ul.ul-i
  %li.uli-selected
    %a{:href => "#"} Create Event
  %li
    %a{:href => "#"} Post
  %li
    %a{:href => "#"} Update Info
  
#admincontent
  %ul.head
    %li
      %table.in-table
        %tr
          %td.h-in Group Calendar
          %td.link
            %a.cp{:href => "#" , :id=> "create_event"} +Create Event
  .calendar-div{:style => "margin: 0 auto;margin-top:10px;width:90%;height:250px;background-color: #e0e0e0;margin-bottom: 20px;"}

%table.table-d
  %tr
    %td{:style => "text-align: center;width:110px;"}
      %h5.label-26 Tue, 7pm,
      %h5.label-26 Sept 30, 2012
    %td{:style => "text-align: left;width:380px;"}
      %h5.label-36 Title of Event
      %h5.label-26 Post on 1 Oct, 2012 by Subramaniam
    %td{:style => "text-align: right; padding-right:10px;"}
      %h5.label-26 Rs. 250 per person
  %tr
    %td{:style => "text-align: center;width:110px;"}
      %h5.label-26 Tue, 7pm,
      %h5.label-26 Sept 30, 2012
    %td{:style => "text-align: left;width:380px;"}
      %h5.label-36 Title of Event
      %h5.label-26 Post on 1 Oct, 2012 by Subramaniam
    %td{:style => "text-align: right; padding-right:10px;"}
      %h5.label-26 Rs. 250 per person
%a.label-12.flt-right.block.mar-top{:href => "#"} See all planned events....