%h2.label-44 Upload Post & Media
%h2.label-44{:style => "border:none;"} Create Post
%input.input-b.size-e{:placeholder => "Title of Event", :style => "margin-bottom: 10px;"}
  %input.input-b.size-e{:placeholder => "Title of Event", :style => "margin-bottom: 10px;"}
    %textarea.input-b.size-e{:placeholder => "Event Description", :style => "margin-bottom: 10px;height:80px;display:block;"}
    %a.label-12{:href => "#"} + Post Event photos
    %h5.label-1{:style => "margin: 5px 0px;"} 5 pics have been uploaded
    %img{:src => "/assets/img-e.png"}
      %img{:src => "/assets/img-e.png"}
        %img{:src => "/assets/img-e.png"}
          %a.label-12.block{:href => "#", :style => "margin-top:10px;"} + Add Event Urls
          %div{:style => "width:360px;"}
            %h5.label-1{:style => "margin-top: 5px;"}
              http://www.slideshare.net/smoofles/interface-design-bas
              %label.label-49.flt-right Delete
            %h5.label-1{:style => "margin-bottom: 5px;"}
              http://www.slideshare.net/smoofles/interface-design-bas
              %label.label-49.flt-right Delete
            %input.input-b{:placeholder => "Add URL", :style => "margin-bottom: 10px;width:98%"}
              %button.btn-a-small{:style => "margin:15px 10px 5px 0px;"} DISCARD
              %button.btn-a-small POST