/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
 /*reset begins*/

/*reset begins*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font: inherit;
	vertical-align: baseline;
	font-weight: normal;
	color: #333;
	font-family: Helvetica, sans-serif;
}
textarea{
	font-family: inherit;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.flt-left {
	float: left;
 
}
.flt-right {
	float: right;
}
a {
	text-decoration: none;
}
.bold {
	font-weight: bold;
}
.u-case{text-transform: uppercase;}
.overflow-hidden{overflow:hidden;}
.block{display: block;}
.mar-top{margin-top:5px;}
/*reset ends*/
body {
	background: url('bg.png');
}
.wrapper {
	width: 1050px;
	margin: 0 auto;
}
.ul-a {
	margin: 3px 10px 0px 0px;
}
.ul-a li {
	float: left;
	display: inline;
	margin-right: 10px;
}
.dd-a {
	display: inline-block;
	border: 1px solid #d9d9d9;
	width: 16px;
	height: 16px;
	background: url('arrow-down-a.png') no-repeat 3px 6px #fff;
	border-radius: 4px;
	margin-left: 5px;
	position: relative;
	top: 3px;
}
.header-a {
	background-color: #fff;
	padding: 20px 0px;
	height: 45px;
}
.header-b {
	background-color: #0097d7;
	padding: 10px 0px;
	height: 100px;
	border-top: 1px solid #0077ab;
}
.ul-b{margin:5px 0px 0px 20px;}
.ul-b li {
	float: left;
	display: inline;
	margin-right: 30px;
}
.ul-b .ulb-selected a{
	color:#fff;
	text-shadow: 0px 1px 1px #666;
}
.ul-b li a {
	font-size: 14px;
	text-transform: uppercase;
	color: #80cbeb;
	font-weight: bold;
}
.content{
	position: relative;
	width:950px;
	padding: 50px 50px 70px 50px;
	background-color: #fff;
	z-index: 2;
	margin: 0 auto;
	margin-top:-70px;
	margin-bottom: -45px;
        min-height: 800px;
}
.content-a {
	overflow: hidden;
	background-color: #fff;
}
.content-b{
	background-color: #fff;
	overflow: hidden;
}
.footer{
	height: 125px;
	background-color: #231f20;
}
.ca-right{
	width:380px;
	text-align: center;
	margin:50px 0px 20px 20px;
}
.ca-top{
	overflow:hidden;
/*	border: 2px solid #0097d7;
	border-bottom: 0px;*/
	padding-bottom: 30px;
}
.ca-bottom{
	background-color: #231f20;
	overflow: hidden;
}
.ca-down{
	width:600px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.img-a{
	margin: 0px 20px 0px 0px;
	max-width: 360px;
}
.img-b{
	margin-right:-2px;
}
.img-c{
	float:left;
	margin: 0px 10px 0px 0px;
}
.cb-left{
	width:590px;
	margin: 40px 10px 20px 20px;
	 height: 275px;
    overflow: hidden;
}
.cb-right{
	width:280px;
	margin: 40px 20px 20px 10px
}
.ul-c li{
	padding:15px 0px 10px 0px;
	border-bottom: 1px solid #c5c6c7;
	overflow: hidden;
}
.ul-c li .label-16{
	height: 40px;
    overflow: hidden;
}
.ul-d li{
	float: left;
	display: inline;
	margin: 0px 5px;
	font-size: 12px;
	color: #787677;
}
.ul-d li a{
	font-size: 12px;
	color: #787677;
}
.f-left{
	margin:60px 0px 0px 400px;
}

.content-c{
	background-color: #fff;
	overflow:hidden;
}
.content-d{
	background-color: #fff;
	overflow:hidden;
}
.content-e{
	background-color: #fff;
	overflow:hidden;
}
.div-b{
	display: inline-block;
	margin: -115px 0px 0px 0px;
	text-align: center;
}
.div-b .btn-a{
	margin: 10px 0px 0px 0px;
}
.bg-logo-b{
	background-color: #fff;
	padding:10px;
	margin: 0px 0px 0px 20px;
	border: 1px solid #d4d4d4;
	box-shadow: 0px 2px 2px 0px #ccc;
}
.div-a{
	width:270px;
	display: inline-block;
	margin:10px 0px 0px 20px;
}
.ul-e{
	display: inline;
    float: right;
    margin: 0 0px 0 0;
}
.ul-e li{
	display: inline;
	float: left;
	width:100px;
	height: 70px;
	margin-left:10px;
	border: 1px solid #d4d4d4;
	box-shadow: 0px 2px 2px 0px #ccc;
	background-color: #fff;
	text-align: center;
	position: relative;
	
}
.bg-img-e{
	margin:5px 0px 0px 0px;
	background: url('img-h.png') no-repeat;
	display: inline-block;
	
}
.black-bar{
	color: #fff;
	font-size:11px;
	background: url('black-bar.png');
	position: absolute;
	bottom: 5px;
	right: 5px;
	width:182px;
	opacity: 0.8;
	padding:5px 0px;
}
.info-bar{
	bottom: 2px;
    left: -180px;
    position: absolute;
    text-align: right;
}
.cc-top{
	overflow:hidden;
	padding-bottom: 20px;
	border-bottom: 2px solid #ebebeb;
}
.cc-left{
	width:644px;
	float: left;
}
.cc-right{
	width:256px;
	float: right;
	padding:10px 0px 10px 10px
}
.ul-f{
	width:100%;
	height: 39px;
	border-bottom: 2px solid #ebebeb;
}
.ul-f li{
	display: inline;
	float: left;
	position: relative;
	padding:10px 20px;
	margin-right:20px;
}
.bg-arrow-down-b{
	background: url('arrow-down-b.png') no-repeat;
	width:10px;
	height:6px;
	position: absolute;
	display:none;
	bottom: -7px;
	left:45%;
}
.ul-f .ulf-selected .bg-arrow-down-b{
	display: block;
}
.ul-i li:hover a{
	color: #0096D6;
}
.ul-f li:hover a{
	color: #0096D6;
}
.ul-f li a{
	color: #918f8f;
	font-size:14px;
}
.ul-f .ulf-selected{
	box-shadow: 0px 2px #003A69;
}
.ul-f .ulf-selected a{
	color: #003A69;
	font-weight: bold;
}
.ul-i .uli-selected a{
	color: #003A69;
}
.div-c{
	float:left;
	width:72px;
	height: 69px;
	background-color: #003A69;
	text-align: center;
	padding:10px 0px 0px 0px;
	margin:0px 10px 10px 0px;
}
.div-f{
	float:left;
	height: 90px;
	text-align: center;
	margin: 5px 10px 0px 10px;
}

.ul-g .btn-a-small{
	
    font-size: 12px;
    padding: 5px 10px;

}
.ul-g li{
	padding:25px 0px 10px;
	border-bottom: 1px solid #c5c6c7;
	overflow: hidden;
}
.ul-g .ulg-expanded{
	border-top: 4px solid #0097d7;
	border-bottom: 4px solid #0097d7;
        
}
.div-d{
	width:550px;
	margin:10px 0px 10px 50px;
}
.div-e{
	padding:10px 5px 10px 75px;
	background-color: #ecebeb;
	margin:10px 0px 20px 0px;
	border: 1px solid #cccccc;
	position: relative;
}
.blue-bar-a{
	position: absolute;
	width:72px;
	height:82px;
	background: url('calender.png') no-repeat;
	left:-10px;
	top:10px;
	padding:10px 0px 0px 0px;
	text-align: center;
}
.div-e:hover{
	cursor: pointer;
}
.divd-comment{
	margin:10px 0px;
}
.ta-a{
	font-family: Helvetica;
	font-size:14px;
	color: #a5a5a5;
	border:2px solid #d7d7d7;
	padding:3px 10px;
	width:463px;
	height: 20px;
	margin:10px 0px 0px 0px;
}
.pgt-bar{
	margin:30px 0px 10px 0px;
}
.pgt-bar a{
	font-size: 16px;
	color: #6c6f70;
	margin-left:3px;
	line-height: 18px;
}
.pgt-bar a:hover{
	font-weight: bold;
	color: #d9541e;
	width:inherit;
}
a.label-25{display: inline-block;clear:both;}
a.label-25:hover{
	color: #d9541e;
}
a.label-32{
	display: block;
}

a.label-33:hover{
	color: #d9541e;
}
a.label-27{
	display: inline-block;
}
a.label-9:hover{
	color: #244466;
}
.pgt-bar .pgtbar-selected{
	color: #d9541e;
	font-weight: bold;
}
.table-a td{
	vertical-align: top;
	padding-top:5px;
	padding-right:5px;
}
.cc-right .ul-c{
	margin-bottom: 20px;
}
.ul-h{
	border:2px solid #949494;padding:5px 0px;
	margin-top:10px;
}
	
.ul-h li{
	padding:20px 0 0 10px;
	border-bottom: 1px solid #c5c6c7;
	overflow: hidden;
	
}
.ul-h .ulh-last-li{
	border-bottom: none;
}
.profile-img{
	margin:0px 20px 0px 0px;
}
.bg-profile-img-b{
	height: 40px;
	width:40px;
}
.ul-i{
	width:100%;
	border-bottom:2px solid #EBEBEB;
	overflow: hidden;
	margin:0px 0px 10px 0px;
}
.ul-i li{
	display: inline;
	float: left;
	margin-right:30px;
	padding: 5px 0 5px 10px;

}
.ul-i li a{
	font-size: 12px;	
	color:#918f8f ;
}
.map{
	height: 350px;
	border:1px solid #244466;
	margin:10px 0px 18px 0px;
}
.input-b{
	border:1px solid #cccccc;
	color:#666666;
	font-size:14px;
	border-radius: 2px;
	padding:5px 4px 5px 4px;
}
.events-right .input-b{
	margin: 0px 0px 5px 0px;
}
.size-a{width:325px;}
textarea.size-a{width:325px;height:60px;}
textarea.size-b{height: 84px;width: 163px;margin-bottom:0px;}
.er-left{width:155px;}
.size-b{width: 100px}.size-c{width: 75px;}.size-d{width:200px;}.size-e{width:550px;}.size-f{width:618px;}
.div-l .input-b{margin-bottom: 5px;}
.input-a{
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-size: 16px;
	color: #666666;
	padding:3px 10px;
	height: 25px;
	box-shadow: inset 0px 1px 1px 0px #ccc;
	width:280px;
	margin-left:10px;
}
.div-k{
	border: 1px solid #cccccc;
	border-radius: 4px;
	margin:50px 0px 10px 0px;
	overflow: hidden;
}
.div-l{
	height:35px;
	padding:0px 0px 0px 5px;
	border-bottom: 1px solid #ccc;
	margin:20px 0px 0px 0px;
}
.div-l .dd-b{
	left:-10px;
}
.div-g{
	border-top: 2px solid #b3b3b3;
	margin: 9px 0px 10px 0px;
	padding: 5px 0px 10px 10px;
	overflow: hidden;
	margin-bottom: 50px;
}
.div-h{
	width:558px;
	float: left;
}
.ul-g .btn-a-small{margin-right:10px;}

.div-i{
	width:515px;
	float: left;
	position: relative;
}
.div-j{
	background: url('bg-b.png');
	padding:30px 20px;
	overflow: hidden;
}
.column-a{
	width:224px;
	margin: 0px 10px 0px 0px;
	float: left;
}

.bg-signup{
	height: 60px;
	
	display:inline-block;
	margin:20px 20px 0px 0px;
	border: 1px solid transparent;
}
.bg-signup:hover{
	border: 1px solid #dcdcdc;
	box-shadow: 0px 2px 2px 0px #dcdcdc;
	border-radius: 8px;
}
.bg-google{background: url('Google.png') no-repeat 50% 50%;width:160px;}
.bg-yahoo{background: url('yahoo.png') no-repeat 50% 50%;width:190px;}

.icon-bar-a{
	position: absolute;
	bottom: 0px;
	right:0px;
}

.icon-bar-a a{
	height: 28px;
	width:28px;
	display: inline-block;
}
.icon-bar-a .bg-twitter{background: url("twitter.png") no-repeat;}
.icon-bar-a .bg-linkedin{background: url("linkedin.png") no-repeat;}
.icon-bar-a .bg-website{background: url("website.png") no-repeat;}

.popup-a{
	margin: 0 auto;
	margin-top:100px;
	background: #fff;
	width:500px;
	padding:50px 30px;
	border-radius: 8px;
	border: 4px solid #9e9e9e;
	position: relative;
}
.bg-cross{
	position: absolute;
	display: inline-block;
	top:10px;
	right:10px;
	background: url('cross.png') no-repeat;
	height:24px;
	width:24px;
}
.table-b .bg-cross-b{
	position: relative;
	left: 10px;
	
}
ul.inbox .table-b .bg-cross-b{
	position: relative;
	margin-top: 0px;
}
.bg-cross-b{
	background: url('cross-b.png') no-repeat;
	height:24px;
	width:24px;
	display: inline-block;
	margin-top: 7px;
}
.ul-j li{
	padding:20px 5px 10px 5px;
	border-bottom: 1px solid #c5c6c7;
}
.table-b{
	width:100%;
}
.table-b td{
	vertical-align: top;
	text-align: left;
	padding-right:10px;
}
.table-c td{
	vertical-align: top;
	padding-right:5px;
}

.tb-1-4{width:40px;}
.table-b .tb-2-4{width:540px;padding-right: 0px;}
.table-b .tb-3-4{width:200px;text-align: right;}
.table-b .tb-4-4{width:30px;padding-right:0px;}
.table-d{
	
	width:100%;
}
.table-d tr{
	border-bottom: 1px solid #c5c6c7;
}
.table-d td{
	padding:5px;
}
.table-e{
	width:100%;
	border: 1px solid #f7f7f7;
}
.table-e td{
	padding:5px;
	vertical-align: middle;
	text-align: center;
	
}
.table-e .dd-c{
	margin: 0 auto;
}
.table-f{
	width:100%;
	
}
.table-f tr{
	border-bottom: 1px solid #ccc;
}
.table-f td{
	vertical-align: top;
	text-align: left;
	padding:15px 5px 5px 5px;
}
.td-approved{
	padding-left:25px;
	background: url('green-dot.png') no-repeat 5px 50%;
}
.table-e tbody tr{
	border-bottom: 1px solid #f0f0f0;
}

.textarea-a {
	height: 50px;
    padding: 5px;
    width: 97%;
    border:none;
}
.event-form{
	overflow: hidden;
	padding:5px;
	border-bottom: 1px solid #ccc;
	clear:both;
}
.event-form .label-26{
	position: relative;
	top:3px;
}
.event-left{
	width:310px;
	float: left;
}
.event-right{
	width:310px;
	float: left;
	margin-left:5px;
}
.el-cont{margin:5px 0px;overflow: hidden;}
.dd-b{
	border:1px solid transparent;
	padding:5px 10px;
	cursor: pointer;
	position: relative;
}

.dd-b:hover{
	border: 1px solid #cfcfcf;
	box-shadow: 1px 2px 2px 0px #ccc;
}
.dd-c{
	border:1px solid #f0f0f0;
	border-radius: 3px;
	cursor: pointer;
	overflow: hidden;
	height: 26px;
	width:60px;
	background-color: #fff;
}
.dd-c li{
	display: inline;
	float: left;
	border-right: 1px solid #ccc;

}
.dd-d{
	margin:50px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	box-shadow: 1px 2px 2px 0px #ccc;
	display: inline-block;
}
.dd-d ul li{
	font-size:16px;
	color: #666666;
	padding:5px;
		cursor: pointer;
}
.dd-d ul li:hover{
	background-color:#0096d6;
	color: #fff;
}
.table-e tbody tr:hover .dd-c:hover{
	border:1px solid #ccc;
}

.arrow-down-d-img-b{
	position: relative;
    top: -5px;
}
.table-e thead td{
	cursor: pointer;
}

.table-e thead .dd-b{
	width:80px;
	margin: 0 auto;
}
.table-e thead{
	border-bottom: 2px solid #0096d6;
}
.table-e tbody tr:hover{
	background-color: #f4f4f4;
	box-shadow: 0 2px 2px -2px #ccc inset, 0 -2px 2px -2px #ccc inset;
}
.table-e tbody tr:hover .dd-c{
	border:1px solid #f4f4f4;
}
.arrow-down-d-img{
	margin:0px 0px 5px 10px;
}
.arrow-down-c-img{
	margin:0px 0px 3px 10px;
}
button.label-50{
	border:1px solid #e3e3e3;
	border-radius: 3px;
	padding:5px 10px;
	cursor:pointer;
	background: #fff;
	color: #666
	
}
.table-f button.label-50:hover{
	color: #D9541E;
}
.label-44 a.label-46{padding-right:10px;}
.label-51{
	font-size: 11px;
	color:#666 ;
}.label-50{
	font-size: 14px;
	color:#d9541e ;
}
.label-49{
	font-size: 12px;
	color:#cc6633 ;
}.label-48{
	font-size: 16px;
	color:#333 ;
}
.label-47{
	font-size: 12px;
	color:#0097d7 ;
}.label-46{
	font-size: 16px;
	color:#0097d7 ;
}.label-45{
	font-size: 18px;
	color:#333333 ;
}.label-44{
	font-size: 20px;
	color:#333333 ;
}
.tb-2-4 p.label-26{padding-right:30px;}
.ul-e .label-21{margin:6px 0px -5px 0px;}
.div-h p.label-26{padding-right:10px;}
a.label-46{cursor: pointer;}
.table-e .label-20{margin: 0px 0px 0px 10px;}
.er-left .label-26{line-height: 33px;}
.events-right .label-45{padding: 0px 0px 10px 0px;}
.cc-left .label-44{margin: 20px 0px 10px 0px;border-bottom: 2px solid #ebebeb;padding-bottom:5px;}
.cd-top .label-42{padding:0px 0px; border-bottom: 2px solid #ebebeb;margin:0px 0px 0px 0px;}
.icon-bar-a .label-20{margin-bottom: 2px;}
.div-i .label-20{margin-top:3px;}
.blue-bar-a .label-23{font-size: 30px;}
.div-c .label-23{margin-top:6px;}
.div-a .label-20{margin-bottom: 10px;}
.div-a a.label-20:hover{color: #d9541e;}
.popup-a .label-39{margin-left:30px;}
.popup-a .label-38{margin-bottom: 10px;margin-left:30px;}
a.label-28:hover{color: #d9541e;}
.column-a .label-37{margin-top:20px;}
.content-c .table-b a.label-36{margin-left:0px;}
.content-c a.label-36{margin-left:10px;}
.ul-c .label-33{margin-bottom: 5px;}
.cc-top .label-34{margin-top:0px;}
.div-c .label-26{height: 47px;overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;}
.ul-h .label-27{margin-bottom:2px;}
.divd-comment .label-27{margin-bottom:5px;}
.pgt-bar .label-28{margin-right:30px;}
.ul-g .label-25{margin-bottom:10px;}
.cb-right .label-12{margin-bottom: 5px;}
.ca-down .label-7{margin-bottom: 30px;}
.cb-left .label-1{margin-bottom: 10px;}
.cb-left .label-10{margin-bottom: 10px;}
.cb-left .label-8{margin-bottom: 15px;}
.cb-right .label-8{margin-bottom: 15px;}
.ca-right .label-5{margin-bottom: 20px;}
.ca-right .label-3{	margin: 5px 0px 10px 0px;}
.cb-right a.label-12{display: block;}
.label-43{
	font-size: 14px;
	color:#0097d7 ;
	font-weight: bold;
}
.label-42{
	font-size: 24px;
	color:#0099cc;
	font-weight: bold;
}
.label-41{
	font-size: 18px;
	color:#244466 ;
	font-weight: bold;
}
.label-40{
	font-size: 12px;
	color:#666666 ;
}
.label-39{
	font-size: 14px;
	color: #666666;
}
.label-38{
	font-size: 32px;
	color:#333333 ;
	font-weight: bold;
}
.label-37{
	font-size: 22px;
	color:#0096d6 ;
	font-weight: bold;
}
.label-36{
	font-size: 18px;
	color:#0096d6 ;
}

.label-35{
	font-size: 12px;
	color:#4cb6e3 ;
}
.label-34{
	font-size: 24px;
	color:#4c4c4c ;
	font-weight: bold;
}
.label-33{
	font-size: 12px;
	color:#6c6f70 ;
	font-style: italic;
}
.label-32{
	font-size: 18px;
	color:#0097d7;
	font-weight: bold;
}

.label-31{
	font-size: 12px;
	color: #fff;
}
.label-30{
	font-size: 16px;
	color:#fff;
	font-weight: bold;
}
.label-29{
	font-size: 20px;
	color: #231f20;
	font-weight: bold;
}
.label-28{
	font-size: 16px;
	color: #6c6f70;
}
.label-27{
	font-size: 14px;
	color: #0097d7;
}


.label-26{
	font-size: 14px;
	color: #666666;
	line-height:20px;
}
.label-25{
	font-size: 14px;
	color: #999999;
}
.label-24{
	font-size:14px;
	color: #fcfcfc;
	text-transform: uppercase;
	font-weight: bold;
}
.label-23{
	font-size:36px;
	color: #fcfcfc;
	font-weight: bold;
	line-height: 34px;
}
.label-22{
	font-size:16px;
	color: #717074;
}
.label-21{
	font-size:36px;
	color: #717074;
	font-weight: bold;
}
.label-20{
	font-size:12px;
	color: #818386;
}
.label-19{
	font-size:12px;
	color: #818386;
	font-weight: bold;
}
.label-18{
	font-size:14px;
	color: #4cb6e3;
}
.label-17{
	font-size: 24px;
	color: #4c4c4c;
	font-weight: bold;
}
.label-16{
	color: #5a5758;
	font-size: 12px;
	line-height: 18px;
}
.label-15{
	font-size: 12px;
	color: #787677;
}
.label-14{
	color: #0097d7;
	font-size: 12px;
	text-decoration: underline;
}
.label-13{
		font-size:14px;
	color: #231f20;
	font-weight: bold;
}
.label-12{
	color: #0097d7;
	font-size:14px;
}
.label-11{
	color: #666;
	font-size:16px;
}

.label-10{
	font-size:16px;
	color: #231f20;
	font-weight: bold;
}
.label-9{
	font-size:28px;
	color: #0097d7;
	font-weight: bold;
}

.label-8{
	font-size:20px;
	color: #231f20;
	text-transform: uppercase;
}
.label-7{
	color: #a7a5a6;
	font-size: 14px;
	line-height:20px;
}

.label-6{
	color: #a7a5a6;
	font-size: 28px;
	margin-bottom:10px;
	text-transform: uppercase;
}

.label-5 {
	color: #595959;
	font-size: 16px;
	line-height: 23px;
	
}
.label-4 {
	color: #231f20;
	font-size: 36px;
	text-transform: uppercase;
}
.label-3 {
	color: #0097d7;
	font-size: 26px;
}
.label-2 {
	font-size: 14px;
	color: #666666;
	text-transform: uppercase;
}

.label-1{
	color: #5a5758;
	font-size: 12px;
}
.btn-a,.btn-a-small{
    border: 1px solid #813516;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.4) inset;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    padding: 8px 20px;
    position: relative;
    text-align: center;
    text-transform:capitalize;
	
	background: #ec6129; /* Old browsers */
	background: -moz-linear-gradient(top,  #ec6129 0%, #c14513 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec6129), color-stop(100%,#c14513)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ec6129 0%,#c14513 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ec6129 0%,#c14513 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ec6129 0%,#c14513 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ec6129 0%,#c14513 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec6129', endColorstr='#c14513',GradientType=0 ); /* IE6-9 */

}

.btn-a:hover,.btn-a-small:hover{
	background: #f9672c; /* Old browsers */
background: -moz-linear-gradient(top,  #f9672c 0%, #e26638 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9672c), color-stop(100%,#e26638)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9672c 0%,#e26638 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9672c 0%,#e26638 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9672c 0%,#e26638 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9672c 0%,#e26638 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9672c', endColorstr='#e26638',GradientType=0 ); /* IE6-9 */

}
.btn-a:active,.btn-a-small:active{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.4) inset;
}
.btn-b{
    border: 1px solid #055d83;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.4) inset;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    padding: 8px 20px;
    position: relative;
    text-align: center;
  	text-transform:capitalize;
	
	background: #3899e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #3899e2 0%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3899e2), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3899e2 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3899e2 0%,#1e5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3899e2 0%,#1e5799 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3899e2 0%,#1e5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3899e2', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}
.btn-b:hover{
	background: #57a7e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #57a7e0 0%, #428db2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57a7e0), color-stop(100%,#428db2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #57a7e0 0%,#428db2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #57a7e0 0%,#428db2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #57a7e0 0%,#428db2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #57a7e0 0%,#428db2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57a7e0', endColorstr='#428db2',GradientType=0 ); /* IE6-9 */
}
.btn-b:active{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.4) inset;
}

.btn-c, .btn-c-small{
    border: 1px solid #828282;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.4) inset;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    padding: 8px 20px;
    position: relative;
    text-align: center;
  	text-transform:capitalize;
	
	background: #999999; /* Old browsers */
background: -moz-linear-gradient(top,  #999999 0%, #969696 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#969696)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #999999 0%,#969696 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #999999 0%,#969696 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #999999 0%,#969696 100%); /* IE10+ */
background: linear-gradient(to bottom,  #999999 0%,#969696 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#969696',GradientType=0 ); /* IE6-9 */
}
.btn-c:hover, .btn-c-small:hover{
	background: #bcbcbc; /* Old browsers */
background: -moz-linear-gradient(top,  #bcbcbc 0%, #bcbcbc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbc), color-stop(100%,#bcbcbc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bcbcbc 0%,#bcbcbc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bcbcbc 0%,#bcbcbc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bcbcbc 0%,#bcbcbc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bcbcbc 0%,#bcbcbc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */
}
.btn-c:active, .btn-c-small:active{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.4) inset;
}




.btn-a-small, .btn-c-small{
	font-size: 13px;
    padding: 5px 11px;
    border:none;
    border-radius: 2px;
}
/* custom css by developers*/
li{
	list-style-type:none;
}
.inline-errors{
  font-size: 12px;
  color: red;
}

.hidden , .semantic-frm li {
    border-bottom: none !important;
    padding: 0px !important;
}

/* styles for autocomplete by developers */

  #post_event_title_input .ui-helper-hidden-accessible {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
  }
  .ui-autocomplete .ui-menu .ui-menu-item {
      margin: 0;
      padding: 0;
      width: 100%;
      border-bottom: 1px solid white;
  }
  .ui-autocomplete .ui-menu .ui-menu-item a {
      background-color: #fff;
      color: #666666;
      display: block;
      font-weight: normal;
      line-height: 2;
      padding: 2px 0.4em;
      text-decoration: none;
      width: 537px;
      border: 1px solid #cfcfcf;
      border-bottom: none;
      box-shadow: 1px 2px 2px 0px #ccc;

  }

  .ui-autocomplete .ui-menu .ui-menu-item a:hover {
      background-color:#0096d6;
      color: #fff;
  }

  .ui-autocomplete .ui-widget-content a {
      color: #222222;
  }
  .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
      border-bottom-right-radius: 4px;
  }
 .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
      border-bottom-left-radius: 4px;
  }
   .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
      border-top-right-radius: 4px;
  }
   .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
  }
  .ui-menu .ui-menu-item a {
    padding-left: 3px;
   }

 /* styles for agenda by developers" */

/*#agenda_content table{	
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;

}
#agenda_content  ul{	
	list-style: circle;
	list-style-type:circle;
	
}
#agenda_content ol li{
	list-style-type: decimal;
	list-style: decimal;
	
}*/

/* Changes from 08112012 */
.table-b .label-20{margin:5px 0px;}
p.label-53{margin-bottom: 15px;}

.cf-left{
    width:500px;
}
.cf-right{
    width:400px;
}
.blue{
    color: #0096d6;
}
.cfb-div{
    width:500px;
}
.cf-bottom{
    clear:both;
    height:180px;
    padding: 25px 35px 45px 35px;
    background: url('/assets/Banner Bottom Image.png') no-repeat 100% 100% #1897d4;
}
 
.label-57{
    font-size: 12px;
    color:#333 ;
}.label-56{
    font-size: 12px;
    color:#fff ;
}
.label-55{
    font-size: 18px;
    color:#fff ;
    font-weight: bold;
}.label-54{
    font-size: 28px;
    color:#fff ;
    font-weight: bold;
}.label-53{
    font-size: 16px;
    color:#595959 ;
    line-height: 24px;
}.label-52{
    font-size: 32px;
    color:#0097d7 ;
}
.ul-k li{
    padding:3px 3px;
    border-bottom: 1px solid #c5c6c7;
    cursor: pointer;
}
 
.ul-k .ulk-semi{
     padding:12px 3px;
     background-color:#f9f9f9;
}
.ul-k .ulk-full{
    padding:10px 3px;
    cursor:default;
}
.ulk-full h5.label-26{
    margin-top:20px;
}
.ul-k .ulk-last{
    border-bottom:0px;
}
.content-f{
    background-color: #fff;
    overflow:hidden;
}

/* End of Changes from 08112012 */


/* Custom css by developer */

#agenda_content ul{
    list-style: disc;
}
#agenda_content ol {
    margin-left: 2em;
}
#agenda_content ol li {
    list-style-type: decimal;
    list-style-position: outside;
}
#agenda_content ul{
    margin-left: 2em;
}
#agenda_content ul li {
    list-style-type: disc;
    list-style-position: outside;
}
#agenda_content table , #agenda_content tr, #agenda_content td{
    border: 1px solid gray;
    border-collapse: separate;
    border-color: gray;
}
/* Custom css by developer */

