/* newly added */
 .dis-in{
 display:inline-block;
 }
 

.dd-chapter-ad {
    border: 1px solid #CCCCCC;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    margin-left: 18px;
    padding: 5px 10px;
    width: 155px;
}
.dd-chapter-ad:hover{
	border: 1px solid #cfcfcf;
	box-shadow: 1px 2px 2px 0px #ccc;
}

.arrow-down-chap-ad-img {
    margin: 10px 0 3px;
}
.events-left-chap-admin {
    border: 1px solid #CCCCCC;
    height: 191px;
    margin-left: 30px;
    width: 191px;
}

.discard-create-button{
padding:10px;
}

.size-text-event-create {
    margin-top: 5px;
    width: 300px;
}

.select-date-chap-admin{
	margin-left:30px;height:18px
}

.button-chapter-admin{
margin-bottom: 60px;
margin-top: 10px;
}
.button-discard{
 margin-left: 380px;
 margin-top: 5px;
}

.area-chapter-admin {
    height: 140px;
    margin-top: 5px;
    width: 309px;
}

.marg-left-thirty{
margin-left:30px;
}
.size-of-inputs {
    height: 18px;
}
/*ends*/