.map_container {
  /*padding: 6px;*/
  width: 530px;
  height: 350px;
}

.gmaps4rails_map {
  width: 530px;
  height: 350px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}