.ca-left{	
	overflow:hidden;
	height:500px;
}

.forms_list{
	margin-top:50px;
	display:inline-block;
}

.form1{
	padding-bottom:5px;
	font-size:12px;
	color:#666666
}

.profile-image{
margin-top:10px;
float: left}

#welcome{
	display:inline-block;
	vertical-align:top;
}

#formfirst {
    display: inline-block;
    margin-left: 25px;
    vertical-align: top;
}
.line_space{
	width:1px;
	height:205px;
	background-color:#E2E2E2;
	display:inline-block;
	vertical-align:top;
	margin-left:30px;
}

#formsecond{
	display: inline-block;
    margin-left: 25px;
}

.small {
    font-size: 13px;
    margin-left: 30px;
	color:#0097D7;
}

.textboxes {
    margin-bottom: 15px;
    width: 248px;
    margin-left: 0px;
}