
.icon-bar-a {
    bottom: 0;
    position: absolute;
    right: 0;
}

.icon-bar-a a{
	height: 28px;
	width:28px;
	display: inline-block;
}

.icon-bar-a .bg-twitter{background: url("/assets/twitter.png") no-repeat;}
.icon-bar-a .bg-linkedin{background: url("/assets/linkedin.png") no-repeat;}
.icon-bar-a .bg-website{background: url("/assets/website.png") no-repeat;}